.timeBar {
  background-color: #0b1e30;
  margin: 2rem auto;
  position: relative;
  padding: 0;
  .timeBar__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100%;
  }
}
