@import "../../variable.scss";
.scroll-to-top-btn {
  display: flex;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  background-color: rgba(14, 39, 64, 0.8);
  font-size: 2.6rem;
  color: $white;
  cursor: pointer;
}
