.episode__list {
  margin-top: 2rem;
  .episode__item {
    display: flex;
    column-gap: 2rem;
    padding: 2rem 0;
    border-bottom: 1px solid #dbdbdd;

    &:last-child {
      border: none;
    }
    .episode__image {
      max-width: 200px;
      img {
        height: auto;
      }
    }

    .episode__info {
      color: rgb(185, 179, 170) !important;
      font-size: 1.6rem;

      a {
        font-size: 2rem;

        &:hover {
          color: rgb(222, 248, 65);
        }
      }
      span {
        display: flex;
        column-gap: 0.6rem;
        margin-top: 1.2rem;
      }
    }
  }
}
