@import "../../variable.scss";
.type {
  margin-top: 80px;

  padding: 1.2rem 1.6rem;
  .type__media {
    font-size: 3rem;
    color: $white;
    margin-bottom: 2rem;
  }

  section {
    margin: 3rem 0;
  }

  .result {
    margin: 3rem;
    font-size: 3rem;
    color: $white;
    text-align: center;
  }
}
