.header__nav-item {
  height: 100%;
  a {
    font-size: 1.6rem;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 1.2rem;
    height: 100%;
    column-gap: 0.4rem;
    &:hover {
      background-color: #102c48;
      color: #428bca;
    }
    text-transform: capitalize;
  }

  a.header__nav-link--active {
    color: #b1a21e;
  }
}
