@import "../../variable.scss";
 .auth__input-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    input {
      width: 100%;
      font-size: 2rem;
      padding: 1.2rem;
    }
    .btn--blue {
      background-color: $blue-color;
      width: 100%;
      margin: 1rem 0;
    }

    .error{
        color:$red-color;
        font-size: 1.6rem;
    }
  }
