@import "../../variable.scss";

.season__list {
  margin-top: 2rem;
  .season__item {
    display: flex;
    column-gap: 2rem;
    padding: 2rem 0;
    border-bottom: 1px solid $border-light-color;
    &:last-child {
      border: none;
    }
    .season__image {
      max-width: 130px;
      img {
        height: auto;
      }
    }

    .season__info {
      color: $episode-season-color !important;
      font-size: 1.6rem;

      a {
        font-size: 2rem;
        margin-top: 0;
        color: $white;

        &:hover {
          color: $text-hover-yellow;
        }
      }
      span {
        display: flex;
        column-gap: 0.6rem;
      }
      p {
        margin-top: 1.2rem;
      }
    }
  }
}
