.season__list {
  margin-top: 2rem;
  .season__item {
    display: flex;
    column-gap: 2rem;
    .season__image {
      max-width: 130px;
      img {
        height: auto;
      }
    }

    .season__info {
      color: rgb(185, 179, 170) !important;
      font-size: 1.6rem;

      a {
        font-size: 2rem;
        margin-top: 0;

        &:hover {
          color: rgb(222, 248, 65);
        }
      }
      span {
        display: flex;
        column-gap: 0.6rem;
      }
      p {
        margin-top: 1.2rem;
      }
    }
  }
}
