@import "../../variable.scss";
.header--scroll {
  background-color: rgba(51, 10, 103, 0.93) !important;
}

.header {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  height: $header-height;
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  transition: all 0.2s;

  .header__pc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.2rem;
    height: 100%;

    @include tablet {
      display: none;
    }

    @include mobile {
      display: none;
    }

    @include mobile-sm {
      display: none;
    }

    .header__left {
      display: flex;
      align-items: center;
      column-gap: 2rem;
      height: 100%;
    }
  }

  .header__logo {
    line-height: 0;
    height: 100%;
    display: flex;
    align-items: center;
    img {
      width: 112px;
      height: auto;
      object-fit: contain;
    }
  }

  .header__nav-list {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .btn {
    padding: 0.6rem 1.6rem !important;
    border-radius: 2px;
    color: $white;
    background-color: #cf2122;
    font-size: 1.6rem;
    cursor: pointer;
    line-height: 1.2;
    display: table-cell;
    vertical-align: middle;
    height: 100%;

    &:hover {
      background-color: #c41f20;
    }
  }

  //   .header__pc,
  //   .header__mobile {
  //     @include mobile-tablet {
  //       display: none;
  //     }
  //     .header__left {
  //       display: flex;
  //       align-items: center;
  //       column-gap: 2rem;
  //       height: 100%;
  //     }

  //     .header__right {
  //       height: 100%;
  //       display: flex;
  //       align-items: center;
  //       padding: 1rem 0;
  //     }
  //   }
  // }
}
