.detail {
  position: relative;
  .detail__backdrop {
    height: 600px;
    position: relative;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(2, 13, 24, 0.75);
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }

  .detail__info {
    width: 100%;

    padding: 1rem 6rem;
    position: relative;
    margin-top: -300px;
    display: flex;
    column-gap: 6rem;

    .detail__info-left {
      .detail__poster {
        width: 240px;
        height: 360px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .btn {
        display: flex;
        color: #fff;
        background-color: #dd003f;
        font-size: 2rem;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: center;
        column-gap: 1.6rem;
        margin-top: 3rem;
        border-radius: 4px;
      }
    }

    .detail__info-right {
      color: #fff;
      flex: 1;
      overflow: hidden;
      h1 {
        font-size: 5rem;
        font-weight: 400;
      }

      .certificate {
        padding: 0.4rem 0.6rem;
        background-color: #363636;
        font-weight: 600;
        font-size: 1.3rem;
        margin-top: 4rem;
        display: inline-block;
      }

      .rate {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        font-size: 1.3rem;
        column-gap: 1.6rem;
        svg {
          width: 45px;
        }
        p {
          font-size: 1.6rem;
          font-weight: 600;
        }
      }

      .btn-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;

        .btn {
          display: flex;
          align-items: center;
          column-gap: 0.8rem;
          padding: 1rem 1.6rem;
          font-size: 1.6rem;
          max-width: 400px;
          border-radius: 4px;
          line-height: 0;
          cursor: pointer;
          svg {
            width: 20px;
            height: 20px !important;
            height: auto;
          }
          p {
            white-space: nowrap;
          }
        }

        .btn.btn--bg-blue {
          background-color: #3273dc;
          border: none;
          color: #fff;
          svg {
            fill: #fff;
          }
          &:hover {
            background-color: #276cda;
          }
        }

        .btn.btn--outline-blue {
          background-color: transparent;
          border: 1px solid #3298dc;
          color: #3298dc;

          svg {
            fill: #fff;
          }
          &:hover {
            background-color: #3298dc;
            color: #fff;
          }
        }

        .btn.btn--outline-white {
          background-color: transparent;
          border: 1px solid #fff;
          color: #fff;
          font-size: 1rem;
          border-radius: 50px;
        }

        .btn-block-left {
          display: flex;
          align-items: center;
          column-gap: 1.6rem;
        }
      }

      .detail__info-text {
        margin-top: 5rem;
        .detail__info-basic {
          display: flex;
          align-items: center;
          font-size: 1.6rem;

          .basic-info {
            p {
              width: 120px;
              color: #7a7a7a;
              margin-top: 0.6rem;
              text-transform: uppercase;
              margin-right: 20px;
            }
          }

          .basic-info-data {
            a {
              margin-top: 0.6rem;
              color: #fff;
              font-weight: 600;
              text-transform: uppercase;
              display: block;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        .detail__info-story {
          margin-top: 4rem;
          font-size: 1.6rem;
          color: #fff;
        }
      }

      .detail__info-cast,
      .detail__info-trailer,
      .detail__info-similar,
      .detai__info-season,
      .detail__info-episode {
        margin-top: 3rem;
        font-size: 1.3rem;
      }

      .detai__info-season,
      .detail__info-episode {
        h2 {
          font-size: 1.6rem;
          text-transform: uppercase;
        }
      }
    }
  }
}
