@use "./index.scss";

@import "./variable.scss";

.App {
  overflow: hidden;
  transition: all 0.2s;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;

  @include tablet {
    padding: 2rem;
  }

  @include mobile-sm {
    padding: 1.2rem;
  }
}
