@import "../../variable.scss";

.container {
  .film__section {
    margin-bottom: 4rem;

    &:first-of-type {
      margin-top: 6rem;
    }
    h1 {
      font-size: 2rem;
      color: $active-nav-color;
      border-bottom: 1px solid #1b3c5d;
      padding-bottom: 0.4rem;
      margin-bottom: 1.6rem;

      @include tablet {
        font-size: 3rem;
        text-align: center;
      }

      @include mobile {
        font-size: 3rem;
        text-align: center;
      }

      @include mobile-sm {
        font-size: 3rem;
        text-align: center;
      }
    }
  }
}
